/* UNIVERSAL */
* {
  transition: 0.5s;
}
.padding-20 {
	padding: 20px;
}

/* COLORS */
.bg-light-grey {
	background-color: #f1f1f1;
}
.bg-dark-grey {
	background-color: #d3d3d3;
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FuturaStd-Book.otf')  format('opentype');
}

p.title-bar {
	color: #662003;
	font-size: 1.2em;
	font-weight: bold;
	font-family: "Century Gothic", sans-serif;
	text-align: center;
}
	p.item-name {
		color: #351108;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0;
		font-family: "Minion Pro", serif;
	}
	p.item-desc {
		font-size: 1em;
		color: #351108;
		font-family: "Minion Pro", serif;
		text-align: center;
		margin-bottom: 0;
	}

/* NAVIGATION */

nav {
	background: #ffb725;
	z-index: 20000;
}
	nav ul {
		list-style: none;
		float: left;
		margin: 40px 0;
		display: none;
	}
	nav ul li {
		display: inline-block;
		padding-left: 2em;
	}
	nav ul li a,
	nav ul li a:visited {
		font-family: "Century Gothic", sans-serif;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
	nav ul li a:hover {
		color: #662003;
		text-decoration: none;
	}
		@media (max-width: 500px) {
			nav ul li a {
				font-size: 0.85em;
				display: inline;
			}
		}
		@media (max-width: 750px) {
			.navi__list {
			    list-style: none;
			    float: left;
			    display: table;
			    background: #351108;
			    position: absolute;
			    top: 80px;
			    width: 100%;
			    text-align: center;
			    padding: 15px 0;
			    z-index: 1000;
			}
			.navi__listItem {
			    display: inline;
			    padding: 10px;
			}
		}

		@media (min-width: 550px) {
			.navi__list {
			    float: left;
			    margin-left: 25px;
			}
		}
	#relish-logo {
		float: right;
		max-width: 25%;
		height: 25%;
		margin-right: 20px;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		z-index: 10000;
	}
	#kumori-logo {
		position: relative;
		height: 60px;
		margin: 8px 10px;
		float: left;
		z-index: 10000;
	}
	@media (min-width: 550px) {
	    nav ul {
	      display: block;
	      padding: 0 !important;
	    }
	    #relish-logo {
	      max-width: 165px;
	      max-width: 165px;
	    }
	    #kumori-logo {
	    	height: 100px !important;
	    }
  	}

/* COMMON ELEMENTS */

.title-bar {
	width: 100%;
	height: 60px;
	padding: 10px 0;
	background: #ffb725;
}

/* CAROUSEL */

#kumori-desc {
	width: 100%;
	min-height: 570px;
	background: url(../kumori/images/bg-about.jpg);
	background-size: cover;
	background-color: #542d24;
	background-attachment: fixed;
	padding: 150px 0 0 0;
}

.limit {
  margin: 0 auto !important;
}
	@media (max-width: 768px) {
		#kumori-desc {
			padding: 120px 50px 50px 50px;
		}
	}

	@media (max-width: 400px) {
		#kumori-desc {
			padding: 120px 20px 50px 20px;
		}
	}
	h1.its-japan {
		font-family: 'Futura Std', sans-serif;
		color: #a76b37;
		font-size: 4em;
		text-align: right;
		margin-top: 0;
	}

/* MENU */

.kumori-menu {
	width: 100%;
	height: auto;
	background-color: #ffb725;
  overflow: hidden;
}
	.menu-item {
		position: relative;
		display: inline-table;
		width: 33.34%;
		height: 30vw;
		margin: 0 !important;
		margin-bottom: -17px !important;
		background-size: cover !important;
	}

	p.menu-item-name {
		color: #ffe8b9;
		font-size: 1.35em;
		text-align: left;
		font-family: 'Futura Std', sans-serif;
		padding-right: 20%;
	}
		.imgDescription {
			font-family: Century Gothic, sans-serif;
			font-size: 21px;
			text-align: center;
			padding-top: 40%;
		  position: absolute;
		  height: 100%;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: rgba(255,183,37,0.72);
		  color: #fff;
		  visibility: hidden;
		  opacity: 0;
		  -webkit-transition: opacity .25s ease-in-out;
		}

		.menu-item:hover .imgDescription {
		  visibility: visible;
		  opacity: 1;
		}

		.menu-item:focus .imgDescription {
		  visibility: visible;
		  opacity: 1;
		}

    @media (max-width: 768px){
        .menu-item {
            width: 50vw;
            height: 50vw;
        }
    }

    /*@media (hover:none) {
      .menu-item .imgDescription {
        visibility: visible;
        opacity: 1;
      }
    }*/

		@media (max-width: 400px) {
			p.menu-item-name {
				padding-right: 0;
				text-align: center;
			}
			h1.its-japan {
				text-align: center;
			}
		}

/* BRANCHES */

.kumori-branches {
	width: 100%;
	height: auto;
	background: #ebebeb;
	padding: 35px 0 0 0;
}

/* MAP */
.kumori-map {
	position: relative;
	height: 400px;
	overflow: hidden;
	margin-top: 35px;
}

	.kumori-map iframe {
		position: absolute;
	    top: -50px;
		left: 0;
		width: 100% !important;
		height: 450px !important;
		pointer-events:none;
	}


/* SOCIAL FEED */
#social {
	width: 100%;
	min-height: 100px;
	height: auto;
	background: #ebebeb;
}


/* FOOTER */

#footer-menu {
	display: none;
}
    @media (min-width: 750px) {
      #footer-menu {
        display: inline;
      }
    }
