h1 {
	color: #d71921;
	font-size: 52px;
	font-family: Helvetica Neue, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	font-family: DINPro, sans-serif;
	line-height: 28px;
}

#carousel {
	min-height: 1000px;
	background: url(../images/osakaohsho/osaka-bg.jpg);
	background-size: cover;
	background-position: center top;
}

	.osaka-desc {
		position: absolute;
		bottom: 30px;
		left: 75px;
	}

#red-strip {
	width: 100%;
	position: absolute;
	top: 800px;
	/*transform: translateY(-200px);
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);*/
	z-index: 15000;
}

nav {
	position: absolute;
	background: none;
}

#relish-logo {
		float: right;
		max-width: 25%;
		height: 25%;
		margin-right: 20px;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		z-index: 10000;
	}

	#osaka-logo {
		position: relative;
		margin-top: 70px;
		float: left;
		z-index: 10000;
		transform: translateX(-10px);
	}

	@media (min-width: 550px) {
	    nav ul {
	      display: block;
	      padding: 0 !important;
	    }
	    #relish-logo {
	      max-width: 165px;
	      max-width: 165px;
	    }
	    #kumori-logo {
	    	height: 100px !important;
	    }
  	}

#osaka-menu {
	width: 100%;
	position: relative;
	min-height: 100vh;
	height: auto;
	background: url(../images/osakaohsho/osaka-menu-bg.jpg);
	background-repeat: repeat-y;
	z-index: -1000;
	-webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
}


footer {
	z-index: -1000;
}