/* UNIVERSAL */
.padding-20 {
	padding: 20px;
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.otf')  format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LT Com';
  src: url('../fonts/HelveticaNeueLTCom-LtCn.ttf')  format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../fonts/HelveticaNeueLight.ttf')  format('truetype');
}

h1 {
	color: #d71921;
	font-size: 52px;
	font-family: 'Helvetica Neue Light', Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

	.osaka-section-title h1,
	#osaka-branches h1 {
		color: #fff;
		font-family: 'Helvetica Neue LT Com', Arial, sans-serif;
		z-index: 21000;
		display: table;
		overflow-x: auto; /* Use horizontal scroller if needed */
    	white-space: pre-wrap; /* css-3 */
    	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    	word-wrap: break-word; /* Internet Explorer 5.5+ */
    	white-space : normal;
	}

	.osaka-desc p,
	#osaka-branches p {
		font-size: 18px;
		font-family: 'DINPro', Arial, sans-serif;
		line-height: 28px;
	}

	p.osaka-caption {
		font-size: 18px;
		font-family: 'DINPro', Arial, sans-serif;
		line-height: 28px;
		overflow-x: auto; /* Use horizontal scroller if needed */
	    white-space: pre-wrap; /* css-3 */
	    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	    word-wrap: break-word; /* Internet Explorer 5.5+ */
	    white-space : normal;
	}


#carousel {
	min-height: 1150px;
	background: url(../images/osakaohsho/osaka-bg.jpg);
	background-size: cover;
	background-position: center top;
}

	.osaka-desc {
		position: relative;
		width: auto;
		top: 350px;
	}

	@media (max-width: 1100px) {
		.osaka-desc {
			padding: 20px;
			top: 300px;
		}
	}

	@media (min-width: 1100px) {
		#carousel {
			min-height: 900px;
		}
	}

#red-strip {
	width: 100%;
	height: 740px;
	transform: translateY(-200px);
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	background: url(../images/osakaohsho/osaka-redstrip.png);
	background-size: cover;
}

	@media (max-width: 1100px) {
		#red-strip {
			top: 900px;
			width: 100%;
		}
		#red-strip img {
			width: 1200px;
		}
	}

.osaka-section-title {
	z-index: 16000;
	margin-top: -100px;
    position: relative;
}

	@media (max-width: 1100px) {
		.osaka-section-title {
			padding: 20px;
		}
	}



nav {
	position: absolute;
	background: none;
}

	nav ul li a,
  nav ul li a:visited {
  	font-family: 'DINPro', sans-serif;
  	font-size: 18px;
    color: #000;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #d71921;
    text-decoration: none;
  }

#relish-logo {
		float: right;
		max-width: 25%;
		height: 25%;
		margin-right: 20px;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		z-index: 10000;
	}

	#osaka-logo {
		position: relative;
		margin-top: 50px;
		float: left;
		z-index: 10000;
		transform: translateX(-10px);
	}

	@media (min-width: 550px) {
	    nav ul {
	      display: block;
	      padding: 0 !important;
	    }
	    #relish-logo {
	      max-width: 165px;
	      max-width: 165px;
	    }
	    #kumori-logo {
	    	height: 100px !important;
	    }
  	}

  	@media (max-width: 750px) {
  		#osaka-logo {
  			width: 150px;
  			transform: translateX(20px);
  		}
  	}

#osaka-menu {
	width: 100%;
	position: relative;
	min-height: 100vh;
	height: auto;
	background: url(../images/osakaohsho/osaka-menu-bg.jpg);
	background-repeat: repeat-y;
	z-index: 16000;
	-webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}

	@media (max-width: 400px) {
		#osaka-menu {
			-webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
		}
	}

	@media (max-width: 1000px) {
		#osaka-menu {
			-webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
		}
	}

	.osaka-food {
		margin-top: -750px;
	}

	.menu-spacer75 {
		width: auto;
		height: 75px;
	}

	.menu-spacer150 {
		width: auto;
		height: 150px;
	}

	@media (max-width: 750px) {
		.menu-spacer75 {
			display:none;
		}

		.menu-spacer150 {
			display:none;
		}
	}

	.osaka-menu-item {
		position: relative;
		width: auto;
		height: 500px;
		margin-bottom: 50px;
		background: #d3d3d3;
	}
	.osaka-menu-title {
		width: 100%;
		padding: 15px;
		position: absolute;
		bottom: 0px; left: 0px; right: 0px;
		background: #c2121a;
	}
	.osaka-menu-title p {
		color: #fff;
		font-size: 18px;
		font-family: 'Helvetica Light', Arial, sans-serif;
		font-weight: bold;
	}

#osaka-branches {
	width: 100%;
	min-height: 200px;
	background: #d3d3d3;
}

	.osaka-branch-row {
		width: 100%;
		min-height: 140px;
		padding-top: 25px;
		background: url(../images/osakaohsho/osaka-wood.jpg);
		background-repeat: repeat-y;
	}

	.osaka-map {
		position: relative;
		padding-bottom: 30%; // This is the aspect ratio
		height: 395px;
		overflow: hidden;
	}

	@media (max-width: 750px) {
		.osaka-map {
			display: none;
		}
	}

	.osaka-map iframe {
		position: absolute;
    	top: -50px;
		height: 445px;
		pointer-events:none;
	}

footer {
	z-index: -1000;
}


  	.osaka-section-title {
	  background: none;
	  padding: 10px 20px;
	  position: relative;
	  z-index: 1;
	  color: #fff;
	}

	.osaka-section-title.fixed {
	  position: fixed;
	  top: 100px;
	  width: 240px;
	  box-sizing: border-box;
	  z-index: 0;
	  background: #c2121a;
	}

	.osaka-section-title.fixed.absolute {
	  position: absolute;
	  background: none;
	}

	.section-invisible {
		display: none;
	}



@media (min-width: 550px) {

    .navi__list {
    	float: left;
    	display:block;
    	margin-top: 0px;
    	height:130px;
    	margin-bottom: 0px;
    	padding-top: 0px;
    	padding-bottom: 0px;
    	width: auto;
    	position: relative;
    	top: 30px; left: 100px;
    	background-color: transparent;
    }

    .navi__listItem {
      display: inline-table;
      height: inherit;
      width: auto;
      padding: 0;
      margin-bottom: 0;
    }

    .navi__listItem a {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }
  }