body {
	background: #FFF;
}

#coming-soon {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	border: 30px solid #DEE3E0;
}

p, h4 {
	font-family: 'Roboto Condensed', sans-serif;
}

.rock {
	margin-top: calc((100vh - 480px) / 2);
}

	.rock h4 {
		margin-bottom: 1rem;
	}

img.bap {
	position: absolute;
	width: 35vw;
	right: 0;
	margin-top: calc((100vh - 350px) / 2);
	z-index: -1000;
}

img.myorb {
	max-height: 110vh;
	margin-top: -5%;
	z-index: 2000;
}

img.rockseoul-logo {
	margin-bottom: 50px;
}

@media (max-width: 400px) {
	#coming-soon {
		border: 15px solid #DEE3E0;
	}
	img.rockseoul-logo {
		width: 75vw;
	}
	.rock {
		margin-top: calc((100vh - 410px) / 2);
	}
}

@media (max-width: 768px) {
	.rock {
		padding: 20px;
	}

	img.bap {
		display: none;
	}
	img.myorb {
		display: none;
	}
	.kill {
		display: none !important;
	}
	.six.columns {
		width: 100% !important;
	}
}