/* UNIVERSAL */

.std-padding-left {
	padding-left: 6% !important;
}

/* TYPOGRAPHY */

.menu-title h1 {
	color: #d2686b;
	font-size: 2.5em;
	font-family: 'Playfair Display', serif; 
}

	p.item-name {
		color: #fffbe5;
		font-size: 1.25em;
		margin-bottom: 0;
		font-family: 'Playfair Display', serif;
	}
	p.item-desc {
		font-size: 0.85em;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}

	#carousel h1 {
		font-size: 1.5em;
		color: #7c1315;
		font-family: 'Playfair Display', serif;
	}
	#carousel p {
		font-size: 0.8em;
		font-family: 'Montserrat', sans-serif;
	}

	@media (min-width: 400px) {
		#carousel h1 {
			font-size: 2.25em;
		}
		#carousel p {
			font-size: 0.9em;
		}
	}

	@media (min-width: 550px) {
		#carousel h1 {
			font-size: 2em;
		}
		#carousel p {
			font-size: 0.8em;
		}
	}

	@media (min-width: 1100px) {
		#carousel h1 {
			font-size: 3.6em;
		}

		#carousel p {
			font-size: 1em;
		}
	}



/* NAVIGATION */


	@media (min-width: 750px) {
		nav.no-bg {
			background: none;
		}
	}

	nav ul {
    	font-family: 'Playfair Display', serif;
    	font-size: 1.2em;
    }
	
	nav ul li a,
	nav ul li a:visited {
		color: #fff;
		text-decoration: none;
	}

	nav ul li a:hover {
		color: #f1be06;
	}

	nav img {
		height: 35px;
		padding: 15px;
	}

	#relish-logo {
		float: right;
		margin-right: 20px;
	}

		.logo-invisible {
			display: none;
		}

	#relish-logo img {
		margin-top: 20px;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		z-index: 10000;
	}

	@media (min-width: 750px) {
		#relish-logo {
			margin-right: 0;
			max-width: 165px;
			max-width: 165px;
		}
	}

	@media (min-width: 1100px) {
		nav {
			height: 120px;
		}
		.wnk-logo {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		nav img {
			height: 100px;
			padding: 15px;
		}
	}


/* CAROUSEL */

#carousel {
	width: 100vw;
	background-size: contain;
	background-attachment: fixed;
	background-image: url(../images/wnk/wnk-carousel.jpg);
	background-position: center center;
	background-repeat: repeat-y;
}

	#carousel .header {
		margin-left: 0px;
		margin-top: 0px;
		padding: 20px;
	}

	@media (min-width: 750px) {
		#carousel .header {
			margin-bottom: 20px;
		}
	}

	nav.wnk-nav {
		position: relative;
		top: auto; bottom: 0; left: 0; right: 0;
		border: none;
		background: #7c1315;
		z-index: 12000;
	}

	.main-nav-scrolled {
		position: fixed !important;
		height: 120px;
		top: 0px !important; bottom: auto !important;
		box-shadow: 0 0 5px rgba(0,0,0,0.6);
	}

	@media (min-width: 1100px) {
		#carousel .header {
			margin-left: 0px;
			margin-top: 120px;
		}
	}

/* MENU */

#wnk-menu {

	min-height: 100px;
	height: auto;
	background-color: #5e0d0e;
	padding-bottom: 25px;
	z-index: 12000 !important;
}

	.menu-title {
		width: 100%;
		height: 100px;
		padding-top: 35px;
	}
	.wnk-menu-item {
		margin: 0 0 30px 0;
	}


/* BRANCHES */

#wnk-branches {
	min-height: 100px;
	height: auto;
	background-color: #002524;
}

.wnk-map {
	position: relative;
	padding-bottom: 100%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.wnk-map iframe {
	position: absolute;
    top: -50px;
	left: 0;
	width: 100% !important;
	height: calc(100% + 50px) !important;
	pointer-events:none;
}


.ghost-120 {
	width: 100%;
	height: 120px;
	display: none;
}

	.unghost {
		display: table;
	}